@page
@model MyProject.Pages.Clients.IndexModel
@{
}

<br>
<h2>Список посетителей</h2>
<a class='btn btn-primary btn-sm' href='/Clients/Create'>Новый посетитель</a>
<table class="table">
	<thead>
		<tr>
			<th>№ клиента</th>
			<th>ФИО</th>
			<th>Паспортные данные</th>
			<th>Эл. почта</th>
			<th>Номер телефона</th>
			<th>Пол</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model.listClients)
		{
			<tr>
				<td>@item.id</td>
				<td>@item.name</td>
				<td>@item.passportData</td>
				<td>@item.email</td>
				<td>@item.phone</td>
				<td>@item.gender</td>
				<td>
					<a class="btn btn-primary btn-sm" href="/Clients/Edit?id=@item.id">Редактировать</a>
					<a class="btn btn-danger btn-sm" href="/Clients/Delete?id=@item.id">Удалить</a>
				</td>
			</tr>
		}
	</tbody>
</table>